* {
    padding: 0;
    margin: 0;
    font-family: "Averta CY", sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: #FEF4FF;
}

#back-to-top {
    position: fixed;
    flex-wrap: wrap;
    z-index: 150;
    bottom: -100%;
    right: 3vw;
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
    transition: bottom 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0C4AB3;
    border-radius: 15px;
    border: solid #0C4AB3 5px;
}

header {
    display: flex;
    gap: 5%;
    height: 10%;
    justify-content: center;
    align-items: center;
    padding: 2% 6vw;
    position: fixed;
    top: 0;
    width: 88vw;
    background-color: #FEF4FF;
    z-index: 10;
    transition: 0.3s;
}

header .header-nav .contacts .link-number img,
header .header-nav .contacts .link-mail img {
    display: none;
}

.mob-menu-head,
.open-menu {
    display: none;
}

.header_logo {
    height: 100%;
    flex: 1;
}
.submenu-arrow {
    width: 100%;
    margin-left: 0.5vw;
}
nav {
    flex: 3.5;
}

nav, ul {
    display: flex;
    height: 100%;
    font-size: 1vw;
}

ul {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.submenu {
    font-weight: 400;
}

.submenu ul {
    flex-direction: column;
    position: absolute;
    height: 10vh;
    top: -100%;
    max-width: 5%;
    padding: 1%;
    background-color: white;
}

.submenu:hover.submenu ul {
    top: 10vh;
}

li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-number {
    font-size: 1.1vw;
    color: rgba(67, 134, 255, 1);
    align-items: flex-end;
}

.link-mail {
    color: rgba(0, 0, 0, 0.41);
    align-items: flex-start;
}

.contacts {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1%;
    width: 20vw;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1vw;
    color: black;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

a:hover {
    color: rgba(67, 134, 255, 1);
}

.tg_link, .wh_link {
    background: rgba(57, 128, 255, 1);
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 15%;
    padding: 0.1vw 0;
    grid-row: 1 / 3;
}

.wh_link {
    grid-column: 2 / 3;
    margin-left: 1vw;
}

.tg_link {
    grid-column: 3 / 4;
}

.tg_link img, .wh_link img {
    width: 60%;
}

main {
    padding: 0 4vw;
}

section,
.offer,
.main-2 h1,
.main-2 p,
.main-3 {
    display: flex;
}

/* main 1 */

.main-1 {
    flex-direction: column;
    background: url("images/main-1-bg.png") no-repeat center;
    border-radius: 20px;
    background-size: cover;
    padding: 10% 45% 10% 10%;
    margin-top: 10%;
}

.main-1 h1 {
    color: white;
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 1vw;
}

.main-1 p {
    display: flex;
    align-items: center;
    margin: 1vw 0;
    gap: 5%;
    color: white;
    font-size: 1.1vw;
    width: 60%;
}

.main-1-buttons {
    margin-top: 1vw;
    height: 4vw;
    display: flex;
    gap: 5%;
}

.main-1-buttons a{
    width: 35%;
    height: 100%;
    font-size: 1vw;
    color: white;
    border-radius: 15px;
    border: none;
    background: #0C4AB3;

}

.main-1-buttons .order  {
    background: #EB5757;
}

.main-1-buttons a:hover  {
    color: #0C4AB3;
    background: white;
}

.main-1-buttons .order:hover  {
    color: #EB5757;
}


.main-2 {
    flex-wrap: wrap;
    padding: 5% 8%;
    margin: 3vw 0;
}


.main-2 h1 {
    font-weight: 600;
    font-size: 3vw;
    width: 28%;
}

.main-2 p {
    width: 33%;
    align-items: center;
    font-size: 1vw;
    padding-top: 1%;
}

.offers {
    display: flex;
    gap: 5%;
    margin-top: 5%;
}

.offer {
    flex: 1;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    padding: 4%;
    box-shadow: 0 9px 4px rgba(0, 0, 0, 0.01), 0px 5px 3px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.08), 0 1px 1px rgba(0, 0, 0, 0.09), 0 0 0 rgba(0, 0, 0, 0.09);
}

.offer h2 {
    text-align: center;
    font-size: 1.4vw;
    margin: 5% 0;
}

.offer img {
    height: 35%;
}

.o2 img {
    height: auto;
    width: 20%;
}

.o2 h2 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer p {
    width: 100%;
    margin-top: 5%;
    font-size: 0.8vw;
}

.o3, .o1 {
    justify-content: center;
    max-height: 45%;
}
.main-2-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5%;
}

.offer button {
    background-color: transparent;
    border-radius: 25px;
    padding: 3% 8%;
    border: solid lightgray 1px;
    font-weight: 400;
    font-size: 0.8vw;
}

.o2 .main-2-buttons {
    margin-top: 10%;
}

.main-2-buttons button:hover {
    background-color: #0081FF;
    color: white;
}

.main-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0081FF;
    border-radius: 15px;
    padding-bottom: 1vw;
    margin: 10vw 0;
}

.main-3 h1 {
    font-size: 3vw;
    color: white;
    padding: 3% 0;
    font-weight: 600;
}

.items {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
}

.items * {
    color: white;
}

.main-3-item {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 2fr 0.7fr 2fr;
}
.main-3-item img {
    width: 100%;
    grid-column: 1 / 3;
    height: 100%;
}
.main-3-item b {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #0C4AB3;
    border: solid #0C4AB3 1px;
    font-size: 1vw;
    margin-top: 1vw;
}
.main-3-item h2 {
    width: 100%;
    font-size: 1vw;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    font-weight: 600;
    margin-top: 1vw;
}

.main-3-item p {
    grid-column: 1 / 3;
    margin: 1vw 0;
    font-weight: 400;
}


.main-3-item a {
    grid-column: 1 / 3;
    height: 100%;
    border-radius: 15px;
    border: none;
    background: #EB5757;
    font-size: 1.1vw;
}

.main-3-item a:hover {
    color: #EB5757;
    background-color: white;
}


.main-4 {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4vw;
}

.main-4 h1 {
    padding: 0 15%;
    text-align: center;
    font-size: 3vw;
}

.main-4 p {
    text-align: center;
    padding: 0 13%;
    margin: 2vw 0;
    font-size: 1vw;
}

.main-4-items {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.main-4-item {
    display: grid;
    grid-template-columns: 5fr auto;
    grid-template-rows: 1fr 1.7fr 0.5fr 0.5fr;
    background-color: white;
    border-radius: 20px;
    width: 20%;
    padding: 0 4% 4% 4%;
    box-shadow: 0 9px 4px rgba(0, 0, 0, 0.01), 0 5px 3px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.08), 0 1px 1px rgba(0, 0, 0, 0.09), 0 0 0 rgba(0, 0, 0, 0.09);
}

.main-4-item h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2vw;
    font-size: 1.6vw;
}

.main-4-item h2 img {
    margin-right: 1vw;
    margin-top: 2vw;
}

.main-4-item ul {
    flex-direction: column;
    align-items: flex-start;
    grid-column: 1 / 2;
    font-weight: 500;
}

.main-4-items .markers {
    grid-column: 2 / 3;
}

.main-4-item .flag {
    margin-bottom: 2vw;
}

.price {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    margin: 1vw 0;
    font-size: 1.6vw;
}

.main-4-item a {
    grid-column: 1 / 3;
    background-color: white;
    color: #0081FF;
    border: solid #0081FF 2px;
    border-radius: 15px;
    font-size: 1vw;
}

.main-4-item a:hover {
    background-color: #0081FF;
    color: white;
    border: solid white 2px;
}

.main-5 {
    flex-direction: column;
    align-items: center;
    background: white url("images/main-5-bg.png") no-repeat center;
    background-size: 55%;
    border-radius: 20px;
    margin: 15vw 0;
}

.main-5 h1 {
    text-align: center;
    font-size: 3vw;
    padding: 0 20%;
    font-weight: 600;
    margin-top: 5vw;
}

.tasks {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    position: relative;
    margin: 8vw 0;
    gap: 2vw;
}

.task {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto 4fr;
}

.task.t1, .task.t2 {
    grid-column: 1 / 2;

}

.task.t3, .task.t4 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

}

.task.t4 {
    grid-row: 2 / 3;
}

.task h2 {
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

.task p {
    grid-column: 1 / 3;
    margin-top: 1vw;
}

.task b {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    border: solid #0C4AB3 5px;
    border-radius: 50%;
    height: 1.5vw;
    width: 1.5vw;
    color: white;
    background-color: #0C4AB3;
}

.main-5 img {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    position: absolute;
    top: -5vw;
    width: 100%;
}

.main-6 {
    flex-direction: column;
    align-items: center;
    height: 50vw;
}

.main-6 h1 {
    font-size: 3vw;
    margin-bottom: 5vw;
}

.main-6 form {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 85%;
    height: 100%;
    gap:5%;
}

.budget-mob {
    display: none;
}

.budget {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 30% 30% 10%;
    border: none;
    gap: 5%;
    height: 70%;
}

.contact-info {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

legend {
    grid-column: 1 / 3;
    font-size: 1.5vw;
    font-weight: bold;
    padding-bottom: 3vw;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #0081FF 2px;
    border-radius: 100px;
    padding: 15% 0;
    font-size: 1.2vw;
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label,
label:hover {
    background-color: #0081FF;
    color: white;
}

.contact-info input,
.contact-info textarea {
    background-color: transparent;
    border: solid #ACACAC 1px;
    font-size: 1.3vw;
    padding: 5% 7%;
    margin-bottom: 1vw;
    border-radius: 15px;
}

.contact-info textarea {
    height: 50%;
}

.contact-info input[type="submit"] {
    margin-top: 1vw;
    background-color: #0081FF;
    color: white;
    border: solid #0081FF 1px;
    width: 70%;
    font-size: 1.1vw;
    font-weight: 600;
}

.contact-info input:active,
.contact-info input:focus,
.contact-info textarea:active,
.contact-info textarea:focus{
    outline: none;
    border: solid #0081FF 2px;
}

.contact-info input[type="submit"]:hover {
    color: #0081FF;
    background-color: white;
}














footer {
    display: flex;
    gap: 5%;
    height: 10%;
    justify-content: center;
    align-items: center;
    padding: 1% 8vw;
    background-color: #FEF4FF;
}



.hide-header {
    top: -100%;
    transition: 1s;
}

#back-to-top.backToTopAnim {
    transition: 0.5s;
    bottom: 2vw;
}

/* mobile */

@media screen and (max-width: 770px) {
    .open-menu,
    .close-menu {
        display: flex;
        flex-direction: column;
        height: 14vw;
        width: 14vw;
        justify-content: center;
        align-items: center;
        gap: 1.5vw;
        background-color: #0081FF;
        border-radius: 5px;
        border: none;
    }

    .stripe {
        width: 40%;
        height: 2px;
        border-radius: 15px;
        background-color: white;
    }

    header {
        display: grid;
        grid-template-columns: 60vw 15vw;
        width: 90vw;
        padding: 2% 5vw;
        gap: 15vw;
    
    }

    header .header_logo img {
        width: 100%;
    }

    header .header-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr) 2fr 2.5fr;
        position: fixed;
        bottom: 0;
        right: -100%;
        height: 86vh;
        width: 100vw;
        background-color: #FEF4FF;
        padding-top: 10vh;
        transition: 1s;
        z-index: -10;
    }

    header .header-nav li {
        width: 100%;
        border-top: solid #ACACAC 1px;
    }

    header .header-nav .contacts a {
        justify-content: center;
        padding-left: 0;
    }

    header .header-nav .contacts {
        margin-top: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    header .header-nav .contacts .wh_link {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-left: auto;
    }

    header .header-nav .contacts .tg_link {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    header .header-nav .contacts .link-number,
    header .header-nav .contacts .link-mail {
        grid-column: 1 / 3;
        font-size: 5vw;
        display: flex;
        align-items: center;
        height: 5vw;
        margin-bottom: auto;
    }

    header .header-nav .contacts .link-number {
        margin-top: auto;
        margin-bottom: 3vw;
    }

    header .header-nav .contacts .link-number img,
    header .header-nav .contacts .link-mail img {
        margin-right: 3vw;
        height: 100%;
        display: flex;
        align-items: center;
    }

    header nav {
        justify-content: center;
    }

    header .header-nav li a {
        font-size: 4vw;
        justify-content: flex-start;
        padding-left: 10vw;
    }

    header .submenu {
        display: list-item;
        color: transparent;
        height: 100%;
    }

    header .submenu span {
        display: none;
    }

    header .submenu ul {
        position: static;
        max-width: none;
        height: 100%;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    header .submenu li {
        width: 100%;
    }

    .header_logo-mob img {
        width: 100%;
    }

    #back-to-top {
        font-size: 8vw;
        width: 15vw;
        height: 15vw;
    }

    .main-1 {
        padding: 5%;
        margin-top: 20vh;
        height: 150vh;
        background: #0081FF url("images/main-1-bg.png") no-repeat 75% 100%;
    }

    .main-1 h1 {
        font-size: 8vw;
        text-align: center;
        margin-bottom: 10vw;
    }

    .main-1 p {
        width: 100%;
        font-size: 3vw;
    }

    .main-1 p img {
        height: 8vw;
    }

    .main-1-buttons {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .main-1-buttons a {
        width: 100%;
        height: 15vw;
        font-size: 4vw;
        margin: 2vw 0;
    }

    .main-2 {
        padding: 20vw 0;
    }

    .main-2 h1 {
        font-size: 8vw;
        width: 100%;
        justify-content: center;
    }

    .main-2 p {
        font-size: 4vw;
        width: 90%;
        text-align: center;
        margin: 3vw auto;
    }

    .offers {
        flex-direction: column;
    }

    .offer h2 {
        font-size: 5vw;
    }

    .offer button {
        font-size: 4vw;
    }

    .offer p {
        display: none;
    }

    .o1, o3 {
        height: auto;
    }

    .o2 {
        justify-content: center;
    }

    .o2 h2 {
        width: 100%;
    }

    .o2 .main-2-buttons {
        margin: 5vw 0;
    }
    
    .main-3 h1 {
        font-size: 8vw;
        margin: 10vw 0;
    }

    .items {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 5vw 0 10vw 0;
    }

    .main-3-item {
        grid-template-rows: 1fr 18vw 0.8fr;
        grid-template-columns: 13% 87%;
    }

    .main-3-item.button {
        grid-template-rows: 15vw;
    }

    .main-3-item a {
        font-size: 4vw;
    }

    .main-3-item b,
    .main-3-item h2 {
        font-size: 5vw;
        margin: 4vw 0;
        font-weight: 400;
    }

    .main-3-item h2 {
        padding-left: 5vw;
        font-weight: 600;
        font-size: 4.5vw;
    }

    .main-3-item p {
        font-weight: lighter;
        font-size: 4vw;
    }

    .main-4 {
        align-items: center;
        width: 100%;
    }

    .main-4 h1 {
        font-size: 9vw;
    }

    .main-4 p {
        font-size: 4.5vw;
        padding: 5% 2%;
    }

    .main-4-items {
        flex-direction: column;
        width: 100%;        
    }

    .main-4-item {
        grid-template-columns: 85% 15%;
        grid-template-rows: 1fr 1.5fr 0.8fr 0.5fr;
        width: 70vw;
        margin-bottom: 10vw;
        padding: 0 10vw 10vw 10vw;
    }

    .main-4-item ul li {
        font-size: 4vw;
    }

    .main-4-item .markers {
        align-items: flex-end;
    }

    .main-4-item .flag {
        margin-left: auto;
    }

    .price,
    .main-4-item h2 {
        font-size: 7vw;
        gap: 5%;
        margin: 10vw 0;
    }

    .main-4-item a {
        margin: 0 auto 5vw auto;
        width: 90%;
        font-size: 5vw;
        font-weight: 600;
        padding: 1vw 2vw;
    }

    .main-5 {
        background-color: transparent;
        background-size: 300%;
        background-position: 50% 30%;
        margin-bottom: 5vw;
    }

    .main-5 h1 {
        font-size: 8vw;
        padding: 5%;
    }

    .tasks {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .task {
        grid-template-rows: 8vw 3fr;
        grid-template-columns: 8vw auto;
    }

    .tasks img {
        position: relative;
        top: 100%;
    }

    .task h2 {
        font-size: 5vw;
        margin: 4vw 0;
        padding-left: 5vw;
    }

    .task b {
        font-size: 4vw;
        width: 100%;
        height: 100%;
    }

    .main-6 {
        height: auto;
    }

    .main-6 h1 {
        font-size: 8vw;
        text-align: center;
        padding: 0 20%;
    }

    .main-6 form {
        display: flex;
        flex-direction: column;
    }

    .budget {
        display: none;
    }

    .budget-mob {
        display: flex;
        border: none;
    }

    select {
        appearance:none;
        -webkit-appearance:none; /* safari and chrome */
        -moz-appearance:none; /* Mozilla */
        -ms-appearance:none; /* Ie */
        background: url("images/main-6-drop-arrow.png") no-repeat calc(100% - 12px);
        background-size: 5%;
    }

    select:focus {
        padding: 0;
        border: none;
        height: 100vw;
        background: none;
    }

    option, select {
        width: 100%;
        outline: none;
        border: solid #0081FF 1px;
        border-radius: 15px;
        padding: 5%;
        display: flex;
        justify-content: center;
        margin-bottom: 5vw;
    }
    option {
        width: 85%;
        margin-bottom: 3vw;
    }

    select option:focus-visible {
        background: #0081FF;
    }

    legend {
        width: 100%;
        text-align: center;
        font-size: 5vw;
    }

    .contact-info input,
    .contact-info textarea,
    .contact-info input[type="submit"]{
        font-size: 4vw;
        margin-top: 2vw;
    }
    .contact-info textarea {
        height: 40vw;
    }

    .contact-info input[type="submit"] {
        width: 100%;
    }

    footer, nav, footer nav ul {
        flex-direction: column;
    }

    footer {
        height: auto;
        padding: 10vw 5vw;
    }

    footer nav {
        width: 100%;
        margin-top: 5vw;
    }

    footer ul li {
        padding: 5vw 0;
        font-size: 3vw;
    }

    footer .submenu {
        color: transparent;
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    footer .submenu li {
        padding: 4vw 0;
    }
    .submenu-arrow {
        display: none;
    }

    footer .submenu ul {
        position: relative;
        background-color: transparent;
    }
    footer .header_logo {
        width: 80%;
        padding: 0 10%;
    }

    footer .contacts {
        width: 90%;
        grid-template-columns: auto auto auto;
        gap: 3%;
        margin-top: 10vw;
    }

    .wh_link, .tg_link {
        grid-row: 1 / 3;
        width: 12vw;
        height: 12vw;
    }

    footer .wh_link {
        grid-column: 1 / 2;
    }

    .tg_link {
        grid-column: 2 / 3;
        margin-right: 5vw;
    }

    .wh_link img, .tg_link img {
        transform: translateZ(0);
    }

    footer .header-nav a {
        font-size: 5vw;
    }
}

header .header-nav.opened {
    right: 0;
    transition: 1s;
}

.open-menu.changeIcon {

}